/* UserTable.css */

.user-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.user-card {
  width: 350px; /* Set a fixed width for each card */
  margin: 40px;
}

.view-details-link {
  text-decoration: none;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.icon-link {
  margin-right: 10px;
  text-decoration: none;
}

.user-icons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* Responsive styles (adjust as needed) */
@media (max-width: 600px) {
  .user-card {
    width: 100%;
  }
}
