.header-container {
  display: flex;
  justify-content: space-between; /* Pushes elements apart, aligning the heading to the center and the button to the right */
  align-items: center; /* Centers elements vertically */
  margin-top: 20px; /* Add some top margin for spacing */
}

.projects-heading {
  flex: 1; /* Allow the heading to expand and take up available space */
  text-align: center; /* Center the text horizontally */
  margin: 0; /* Remove default margin to center the text */
  font-family: "Georgia, serif";
}

.add-project-button {
  background-color: #5349d6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
  cursor: pointer;
}