/* ProjectsTable.css */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.project-card {
  width: 350px;
  margin: 40px;
}

.project-card a {
  text-decoration: none;
  color: #1976d2; /* Link color */
}

.card-icons-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* Responsive styles (adjust as needed) */
@media (max-width: 600px) {
  .project-card {
    width: 100%;
  }
}
